<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="p">

		<header>
			<div class="logo mb">
				<a class="link--inactive h1" href="{{ '/' | url }}"><span class="strong">{{ metadata.title }}</span></a>
			</div>
			{% include "components/menu.njk" %}
		</header>

		<main>
			<div class="text-wrapper">
				{% if titleStatus != false %}
    				<h2 {% if titleStatus == 'visually-hidden'%}class="visually-hidden"{% endif %}>{{ title }} {{ title_hidden }}</h2>
				{% endif %}
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

	{% if metadata.debug %}
		<div class="debug">
			<p class="small minititle half-gutter mb">Debug</p>
			<ul class="m0">
				<li class="m0"><em>Section:</em> {{ section }}</li>
				<li class="m0"><em>Title Status:</em> {{ titleStatus }}</li>
			</ul>
		</div>
	{% endif %}

</html>
